* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 50px 15px;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: rgb(137, 130, 255);
  background: linear-gradient(24deg, rgb(79, 68, 255) 0%, rgb(167, 83, 255) 33%, rgb(253, 0, 255) 100%);
}

h1,
h2 {
  text-align: center;
}
h1::-moz-selection, h2::-moz-selection {
  background: rgb(255, 94, 217);
}
h1::selection,
h2::selection {
  background: rgb(255, 94, 217);
}

h2 {
  display: none;
}

button {
  padding: 10px 20px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
button::-moz-selection {
  background: rgb(255, 94, 217);
}
button::selection {
  background: rgb(255, 94, 217);
}
button:hover {
  -webkit-box-shadow: 0 0px 5px 2px rgb(255, 255, 255);
          box-shadow: 0 0px 5px 2px rgb(255, 255, 255);
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  margin-top: 30px;
}
.progress-bar-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 52px;
  font-size: 26px;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.progress-bar-step-valid {
  border: 2px solid rgb(255, 94, 217);
  background-color: rgb(255, 94, 217);
  -webkit-box-shadow: 0 0px 23px 11px rgb(255, 255, 255);
          box-shadow: 0 0px 23px 11px rgb(255, 255, 255);
}
.progress-bar-step:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: white;
  right: -63px;
  bottom: 23px;
}
.progress-bar-step::-moz-selection {
  background: rgb(255, 94, 217);
}
.progress-bar-step::selection {
  background: rgb(255, 94, 217);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-top: 50px;
  padding: 50px;
  max-width: 500px;
  width: 100%;
  border: 1px solid white;
  -webkit-box-shadow: 0 0px 15px 5px rgb(255, 255, 255);
          box-shadow: 0 0px 15px 5px rgb(255, 255, 255);
  border-radius: 20px;
}
.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-group-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}
.form-group-btns-sign-in {
  border: 1px solid white;
}
.form label {
  margin-bottom: 3px;
}
.form label::-moz-selection {
  background: rgb(255, 94, 217);
}
.form label::selection {
  background: rgb(255, 94, 217);
}
.form input {
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: rgba(110, 110, 110, 0.2);
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
.form input::-webkit-input-placeholder {
  color: rgb(118, 118, 118);
  -webkit-user-select: none;
          user-select: none;
}
.form input::-moz-placeholder {
  color: rgb(118, 118, 118);
  -moz-user-select: none;
       user-select: none;
}
.form input:-ms-input-placeholder {
  color: rgb(118, 118, 118);
  -ms-user-select: none;
      user-select: none;
}
.form input::-ms-input-placeholder {
  color: rgb(118, 118, 118);
  -ms-user-select: none;
      user-select: none;
}
.form input::placeholder {
  color: rgb(118, 118, 118);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form input:focus {
  border: 1px solid white;
  outline: none;
}
.form input::-moz-selection {
  background: rgb(255, 94, 217);
}
.form input::selection {
  background: rgb(255, 94, 217);
}
.form input:valid {
  background-color: white;
}/*# sourceMappingURL=main.css.map */